Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [14]:
# (i) String
a = 'this is a string'
print(a)
type(a)

this is a string

str

In [35]:
# (ii) list
a = [1, 2, "abhinav",1+2]
print(a)
type(a)

[1, 2, 'abhinav', 3]

list

In [36]:
# (iii) float
a = 74.88
print(a)
type(a)

74.88

float

In [37]:
# (iv) tupple
a = (1, "a", "abhinav", 1+2)
print(a)
type(a)

(1, 'a', 'abhinav', 3)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [65]:
# (i) var1 = ‘ ‘
var1 = ' '
print("Data type is :")
type(var1)

Data type is :

str

In [61]:
# (ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
print("Data type is :")
type(var2)

Data type is :

str

In [62]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]
print("Data type is :")
type(var3)

Data type is :

list

In [63]:
#(iv) var4 = 1.
var4 = 1.
print("Data type is :")
type(var4)

Data type is :

float

Ans- The data types of the given variables are as follows:

(i) var1: String
(ii) var2: String
(iii) var3: List 
(iv) var4: Float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [32]:
#(i) / (Division Operator):
a = 10
b = 4
result = a / b
print(result)

# The division operator (/) is used to perform division between two numbers 
# and returns the quotient as a floating-point value.

2.5

In [33]:
#(ii) % (Modulo Operator):
a = 10
b = 4
result = a % b
print(result)  

# The modulo operator (%) is used to find the remainder of the division between two numbers.

2

In [34]:
#(iii) // Floor Division Operator):
a = 10
b = 4
result = a // b
print(result)

# The floor division operator (//) is used to perform division between two numbers 
# and returns the quotient as an integer by rounding down to the nearest integer.

2

In [39]:
#(iv) ** (Exponentiation Operator):
a = 2
b = 3
result = a ** b
print(result)
# The exponentiation operator (**) is used to raise a number to a power.
# These operators are useful in performing mathematical calculations and operations in Python.

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [43]:
my_list = [2, 'abhinav', 2.77, True, [2, 8, 9], (1, "a", "karki", 3), False, 11+2j, None, {'key': 'value'}]

for element in my_list:
    print(element, type(element))

2 <class 'int'>
abhinav <class 'str'>
2.77 <class 'float'>
True <class 'bool'>
[2, 8, 9] <class 'list'>
(1, 'a', 'karki', 3) <class 'tuple'>
False <class 'bool'>
(11+2j) <class 'complex'>
None <class 'NoneType'>
{'key': 'value'} <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [49]:
A = 100
B = 5

count = 0
while A % B == 0:
    A = A // B
    count += 1

print("Number of times A is divisible by B:", count)

Number of times A is divisible by B: 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [52]:
 #list of 25 int type data
numbers = [15, 8, 12, 9, 5, 18, 99, 10, 5, 27, 8, 7, 13, 30, 22, 16, 77, 14, 25, 20, 3, 19, 24, 17, 23]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

15 is divisible by 3.
8 is not divisible by 3.
12 is divisible by 3.
9 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
99 is divisible by 3.
10 is not divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
7 is not divisible by 3.
13 is not divisible by 3.
30 is divisible by 3.
22 is not divisible by 3.
16 is not divisible by 3.
77 is not divisible by 3.
14 is not divisible by 3.
25 is not divisible by 3.
20 is not divisible by 3.
3 is divisible by 3.
19 is not divisible by 3.
24 is divisible by 3.
17 is not divisible by 3.
23 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans - Mutable and immutable are two fundamental concepts in programming that refer to whether an object can be modified after it is created.

(i) Immutable data types are those whose state cannot be changed after they are created. 
    In other words, once an immutable object is assigned a value, its value cannot be modified. 
    Examples of immutable data types include strings, numbers (integers, floats), and tuples.

(ii) Mutable data types allow modifications after they are created. 
     Examples of mutable data types include lists, dictionaries, and sets.

In [57]:
# example of immutable data type ( here i am using example in string data type) :

string = "abhinav"
print(string)   

# Trying to modify the string
string[0] = "k"

abhinav

TypeError: 'str' object does not support item assignment

In this example, we assign the string "abhinav" to the variable string. When we try to modify the first character of the string, it raises a TypeError because strings are immutable. 
Once a string is created, its characters cannot be changed individually.
Instead, we would need to create a new string with the desired modifications.

In [59]:
# example of mutable data type ( here i am using example in list data type) :

l = [1, 2, 3]
print('before modification of list:')
print(l)  

# Modifying the list
l[0] = 8
print('after modification of list:')
print(l)

before modification of list:
[1, 2, 3]
after modification of list:
[8, 2, 3]

In this example, we create a list [1,2,3] and assign it to the variable l.
We can modify the elements of the list directly by assigning new values to specific indices. 
In this case, we change the first element from 1 to 8, and the list is updated accordingly.